.product-description {
    font-family: "Roboto", Arial, sans-serif;
    
}

.product-description > .title {
    font-size: 25px;
    margin-bottom: 50px;
    }

.product-description > .item {
    font-size: 20px;
    margin-bottom: 28px;
}

.product-description > .item.-info {
  width: 200px;
  text-align: right;
}

.product-description > .item.-last {
    margin-bottom: 72px;
}

.product-description .contrast {
    text-transform: uppercase;
    float: left;
}

.product-description > .text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.product-description .action {
    text-decoration: none;
    color: inherit;
}

/*.stars > li{
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 9px;
}*/

