.product-wrap {
    display: inline-block;
    width: 554px;
    vertical-align: middle;
     position: relative; 
}

.product-wrap .heart {
    position: absolute;
    top: 0;
    transform: translate(calc(-100% + -47px), 9px);
    
}

.product-wrap > .buttons {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 98px))
}