.product-wrap {
    display: inline-block;
    width: 454px;
    vertical-align: middle;
     position: relative; 
}


.product-wrap > .buttons {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 98px));
    width: 100%;
}

.product-wrap > .buttons > .button-store {
    float: right;
}

.product-wrap > .buttons > .button-store.-second {
    float: left;
}

@media (max-width: 1311px){
    .product-wrap {
        width: 100%;
    }

    .product-wrap > .buttons {
        position: static;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: none;
    }

    .product-wrap > .buttons > .button-store,
    .product-wrap > .buttons > .button-store.-second {
        float: none;
    }
    
}