.product-description {
    font-family: "Roboto", Arial, sans-serif;
    
}

.product-description dt {
    font-size: 25px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.product-description dd {
    font-size: 20px;
    margin-bottom: 26px;
}

.product-description dd:first-of-type {
    margin-bottom: 28px;
}

.product-description .description {
    font-size: 18px;
}

.description a {
    text-decoration: none;
    color: inherit;
}

.product-description .description {
    margin-bottom: 38px;
}

.product-description .-last {
    margin-bottom: 100px;
}

.button {
    display: inline-block;
    margin-right: 38px;
}

.description-page {
    display: flex;
}

img {
    background-color: #fff;
    border-radius: 0 150px 150px 0;
    margin-top: 100px;
    margin-right: 107px;
}