.product-description {
    font-family: "Roboto", Arial, sans-serif;
    
}

/* Define tamanho da fonte e margem inferior do elemento com classe .tittle que seja filho direto do objeto com classe .product-description */
.product-description > .title {
    font-size: 25px;
    margin-bottom: 50px;
}

/* Define tamanho da fonte e margem inferior do elemento com classe .item que seja filho direto do objeto com classe .product-description */
.product-description > .item {
    font-size: 20px;
    margin-bottom: 28px;
}

/* Define posicionamento e efeito de pointer (mão) no mouse para o elemento com classe .-heart que seja filho direto do objeto com classe .product-description */
.product-description > .-heart {
    position: absolute;
    top: 0;
    cursor: pointer;
    transform: translate(calc(-100% + -47px), 9px); 
}


/* Define margem inferior para o elemento com classe .-star e classe .item e seja filho direto de .product-description */
.product-description > .item.-star {
    margin-bottom: 10px;
    cursor: pointer;
}

/* Define margem esquerda para o elemento com classe .item que seja irmão imediato de um elemento com as classes .-star e .item e filho direto de .product-description */
.product-description > .item.-star + .item {
    margin-left: 7px;
}


.product-description .icon {
    transition: transform .05s linear;
}

.product-description .icon:hover {
    transform: scale(1.1);
}

/*Para fazer o efeito de preenchimento do coração foi necessário adicionar o coração preenchido e o coração sem preenchimento, também foi adicionada a classe "-active" na imagem do coração com preenchimento, no seletor abaixo tornamos a imagem com a classe "-active" invisível*/
.product-description .icon.-active {
    display: none;
}

/*Agora tornamos o ícone sem preenchimento invisível, quando a dd com classe "item" também tiver a classe "-active" que é adicionado pelo JS quando clicamos no coração*/
.product-description > .item.-active .icon {
    display: none;
}

/*Por fim, tornamos o ícone com preenchimento que possui a classe "-active" visível, quando a dd com classe "item" também possuir a classe "-active"*/
.product-description > .item.-active .icon.-active {
    display: block;
}

.product-description .star {
    display: inline-block;
}

/* Para dar o efeito de seleção nas estrelas, utilizaremos o mesmo princípio realizado no efeito do coração */
.product-description .star.-active > .icon {
    display: none;
}

.product-description .star.-active > .-active {
    display: block;
}




.product-description > .item.-info {
  width: 200px;
  text-align: right;
}

.product-description > .item.-last {
    margin-bottom: 72px;
}

.product-description .contrast {
    text-transform: uppercase;
    float: left;
}

.product-description > .text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.product-description > .text.-more {
    margin-bottom: 0;
}

.product-description .action {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1311px){
    .product-description {
        width: 50%;
        min-width: 655px;
        margin: 0 auto 60px;
    }

    .product-description > .title {
        font-size: 35px;
        text-align: center;
    }

    .product-description > .item.-star {
        float: left;
        margin-right: 10px;
    }

    .product-description > .item.-star + .item {
        padding-top: 4px;
    }

    .product-description > .-heart {
        transform: none;
    }
}

@media (max-width: 720px){
    .product-description {
        width: 90%;
        min-width: auto;

    }
}

@media (max-width: 500px){
    .product-description > .-heart {
        transform: translateY(100%);
    }
}

