header {
    background-color: #e24647;
    color: #fff;
    overflow: hidden;
    padding: 55px 60px;
    width: 80%;
    margin: 0 116px;

}

nav {
    font-family: 'Segoe UI', "Roboto", sans-serif;
    float: right;
    font-size: 21px;
}



h1 {
    font-family: Arial, "Roboto", sans-serif;
    font-size: 40px;
    float: left;
   
}

a {
    text-decoration: none;
    color:inherit;
    margin-left: 60px;
}

.button {
    
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding: 0 60px;
}

.comprar-button {
    border: none;
    background: #252c41;
}